{%extends "base.html"%}
{%block head%}
{{ super() }}
{{ share.load() }}
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
{%endblock%}
<!-- transparent jumbo with title -->
{%block content%}
<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h2 style="font-family: 'Dancing Script', cursive; text-align: center;">{{title}}</h2>
            </div>
        </div>
    </div>
 </div>

{{content|safe}}
<br>
{{ share.create(title='Share with: ',sites='facebook',align='left') }}
{%endblock%}
