{% extends "base.html" %}

{%block head%}
{{super()}}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/contact.css') }}">
{%endblock%}

{% block content %}
<br>
<br>
<br>

  {% if success %}
    <p><center>Form Posted. Thank you for your message.</center> </p>
  {% else %}
    <center><h4>Contact</h4></center>
    {% for message in form.name.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.subject.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.message.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

  <form action="{{ url_for('datalist.contact') }}" method=POST>
    {{ form.hidden_tag() }}
    <center>{{ form.name.label }} {{ form.name }}<br>
    {{ form.email.label }} {{ form.email }}<br>
    {{ form.subject.label }} {{ form.subject }}<br>
    {{ form.message.label }} {{ form.message }}<br>
    {{ form.submit }}
    </center>

  </form>
{% endif %}
{% endblock %}
