{%extends "base.html"%}

<!-- linkes to css and and google fonts link for title on the food page -->
{%block head%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/food.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/relist.css') }}">
{%endblock%}

<!-- transparent jumbo with title -->
{%block content%}
<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h2 style="font-family: 'Dancing Script', cursive; text-align: center;">Our life is shaped by our mind, for we become what we think</h2>
            </div>
        </div>
    </div>
 </div>

<h5> Me</h5>
A difference of opinion and wanna others know then <a href="/contact">click here.</a>
<br> <br>
<ul>
        {% for article in th %}
            <li><a href="/{{article.id}}">{{article.title}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
