/* jumbo styling */

/* background image below jumbo */
 /* body, html {
  height: 100%;
}

 body{
  background-image: url("/static/images/book1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #cccccc;
} */
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.5;
    color: #fff;
    background:url('/static/images/book.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.jumbotron h2 {margin-top:0;
text-align: center;}

.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:80px;
}
.jumbotron .container {
  position:relative;
  z-index:2;

}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}

/* .jumbotron bg-cover
{
  min-height: 1000px;
} */
