/* for setting the background image */

body, html {
  height: 100%;
}

body{
  background-image: url("{{ url_for ('static',filename ='images/bg-01.jpg') }}");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

.display-4
{
  font-family: 'IM Fell French Canon', serif;
  text-align: center;
  font-size: x-large;
  font-style: italic;
}

.container
{
  text-align: center;
  /* text-decoration: underline; */
  /* width: 100%; */
  font-size: x-large;
  /* font-family: cursive; */
  font-style: italic;
  /* color: #FFFFFF; */
}

.navbar-nav a{
  font-family: 'Cinzel', serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
