{%extends "admin.html"%}
{%block head%}
{{ super() }}
<!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
{%endblock%}

{%block content%}

<form method="POST">
{# This hidden_tag is a CSRF security feature. #}
{{ form.hidden_tag() }}
{{ form.title.label }} {{form.title}}
<br>
{{form.category.label}}{{form.category}}
<br>
Blog Content:
<br>
<textarea id="summernote" rows="20" cols="100" name="editordata"></textarea>
 <br>
{{ form.submit() }}
</form>
<script>
$(document).ready(function() {
  $('#summernote').summernote();
});
</script>

{%endblock%}
