{% extends "admin.html" %}
{%block head%}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/relist.css') }}">
{%endblock%}

{% block content %}
	 <br>
	 <br>
	 <ul>
	 {% for a in blog%}
	 <li>
	   <b>{{a.title}}</b>
		 <a href="{{url_for('forms_admin.blog_edit',blog_post_id=a.id)}}"><small>Edit</small></a>
		 <a href="{{url_for('forms_admin.delete_post',blog_post_id=a.id)}}"><small>Delete</small></a><br>
		 <!-- {{a.content|safe|truncate(150)}} -->
		 {{a.category}}   <br>
		 <!-- {{a.date}} <br> -->
		 <!-- {{a.pics}} <br> -->
		</li>
	 {%endfor%}
  </ul>


{% endblock %}
