{%extends "base.html"%}

<!-- linkes to css and and google fonts link for title on the food page -->
{%block head%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/food.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">

{%endblock%}

<!-- transparent jumbo with title -->
{%block content%}
<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h2 style="font-family: 'Dancing Script', cursive; text-align: center;">Eat What Makes You Happy</h2>
            </div>
        </div>
    </div>
 </div>
<br>

<!-- card in grid layout to write about food and present links to recipes -->
<!-- first column with general food topic -->
<div class="row justify-content-between">
<!-- <div class="row row-cols-1 row-cols-md-2"> -->
<div class="col md-auto offset-md-1">
<div class="card" style="width: 70rem;">
<div class="card-body">
<!-- <h5 class="card-title">Card title</h5> -->
<p class="card-text">
Your content here.😃
   </p>
</div>
</div>
</div>
<br>
<br>
<!-- 2nd column with links for recipes -->
<div class="col-md-4 offset-md-4">
<!-- <div class="col-mb-4 ml-md-auto"> -->
<br><center>
<a class="btn btn-light btn-outline-dark" type="button" href="/relist"> Recipes </a></center>

          </div>
          </div>

{%endblock%}
