{%extends "base.html"%}

<!-- linkes to css and and google fonts link for title on the food page -->
{%block head%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/food.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
{%endblock%}

<!-- transparent jumbo with title -->
{%block content%}
<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h2 style="font-family: 'Dancing Script', cursive; text-align: center;">Eat What Makes You Happy</h2>
            </div>
        </div>
    </div>
 </div>
<br>
<!-- jumbo as in the main page(but is not coming properly) -->
<!-- <div class="container"> -->
<!-- </div> -->
<!-- <div class="jumbotron bg-cover" style="background-image: url('/static/images/food1.jpg')"> -->
  <!-- </div> -->
<br>

<!-- card in grid layout to write about food and present links to recipes -->
<!-- first column with general food topic -->
<div class="row justify-content-between">
<!-- <div class="row row-cols-1 row-cols-md-2"> -->
<div class="col md-auto offset-md-1">
<div class="card" style="width: 18rem;">
<div class="card-body">
<h5 class="card-title">Card title</h5>
<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
</div>
</div>
</div>

<!-- 2nd column with links for recipes -->
<div class="col-md-4 offset-md-4">
<!-- <div class="col-mb-4 ml-md-auto"> -->
<button class="btn btn-light btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Recipes
  </button>
<div class="collapse" id="collapseExample">
<div class="card" style="width: 25rem;">
<!-- <img src="..." class="card-img-top" alt="..."> -->

<div class="card card-body">
<!-- <h5 class="card-title">Card title</h5> -->
<!-- <div class="card" style="width: 18rem;"> -->


<!-- have to link blogposts with this -->
<ul class="list-group list-group-flush">
              <li class="list-group-item"> <a href="#" class="card-link">Cras justo odio</a></li>
              <li class="list-group-item"><a href="#" class="card-link">Dapibus ac facilisis in</a></li>
              <li class="list-group-item"> <a href="#" class="card-link">Vestibulum at eros</a></li>
            </ul>
          </div>
          </div>
          </div>
          </div>



          <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div> -->
{%endblock%}
